.head-wrapper{
    background: linear-gradient(145deg,#ecf9f7,#e9f8f5);
}
.head{
    max-width: 1200px;
}
.main-logo{
    width: 200px;
}
.main-img {
    margin: 0 auto;
}
.head-main {
    padding: 150px 50px;
}
.head-main h1 {
    font-size: 50px;
    font-weight: 700;
}
.head-main p {
    font-weight: 400;
    font-size: 19px;
}
.blue-banner {
    background-color: #335dff;
    width: 80%;
    margin: -44px auto;
}
.blue-banner p {
    font-size: 32px;
    color: white;
    margin: 0 auto;
    font-weight: 500;
    padding: 20px;
}
.blue-banner span {
    color: #ffec07;
}
.midsection-white {
    margin-top: 60px;
}
.blue {
    color: #335dff;
}
.why-us{
    max-width: 1200px;
}
.midsection-text {
    padding: 65px;
    margin: auto auto;
}
.midsection-menu {
    padding: 65px;
    margin: 60px auto;
}
.midsection-menu-card{
    background-image: url(../images/cardbg.png);
    background-size: cover;
    height: 180px;
}
.midsection-menu-card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.features-section{
    background-image: url(../images/bluebg.jpg);
    background-size: contain;
}
.features-grid {
    max-width: 1200px;
    padding: 50px;
}
.feature {
    background-color: white;
    padding: 25px;
    height: 210px;
}
.feature:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.big-img {
    padding: 40px;
    margin: 0 auto;
}
.big-text {
    padding: 75px;
    margin: auto auto;
}
.container.big-imgs {
    margin-bottom: 15px;
}
.highlights {
    max-width: 1200px;
    margin: 0 auto;
}
.features .card-body{
    height: 90px;
    display: table;
    background-color: #dceaff;
}
.features .card-body h5 {
    display: table-cell;
    vertical-align: middle;
}
.section.testimonials{
    background-color: #effbf8;
}
.container.testimonials{
    max-width: 1200px;
}
.review {
    background-color: #fff;
}
.reviews {
    position: relative;
    width: 100%;
}
.card.shadow:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.testimonials {
    padding-bottom: 5%;
}
.section.app-ad {
    background-color: #335dff;
}
.app-ad-big-text {
    color: white;
    margin: auto;
}
.smartphone {
    max-width: 85%;
    height: fit-content;
    margin-top: -20%;
    position: relative;
    left: 10%;
}
.app-ad-big-text p, h1 {
    padding: 15px;
}
img.getapp {
    width: 35%;
    padding-bottom: 30px;
    padding-left: 15px;
}
.app-ad-big-text h1, p {
    font-weight: 700;
}
.form-header h4 {
    color: #fc7825;
}
.form-header h1 {
    font-weight: 700;
    font-size: 3.5rem;
}
.container.app-ad {
    max-width: 1200px;
}
.container.only-form {
    max-width: 1200px;
}
.form-col{
    text-align: center;
}
form.only-form {
    width: 75%;
    margin: 40px auto;
}
.form-input {
    width: 100%;
    margin: 2%;
    height: 55px;
    border-color: #e5e5e5;
    border-width: thin;
    padding-left: 22px;
}
.form-input:focus{
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    outline: none;
    font-weight: 700;
}
textarea.form-input {
    height: auto;
    width: 100%;
    margin: 1%;
    padding: 20px;
    border-color: #e5e5e5;
    border-width: medium;
}
input[type=submit]{
    font-weight: 700;
}
.section.video {
    background-color: #effbf8;
}
video.sample-video {
    width: 65%;
    margin-bottom: 40px;
}
h4.video-sect {
    color: #fc7825;
    margin-top: 35px;
}
h1.video-sect {
    font-weight: 700;
    margin-bottom: 40px;
}
a.carousel-control-prev {
    position: relative;
    top: 125px;
}
a.carousel-control-next {
    position: relative;
    top: 101px;
    left: 75px;
}
@media only screen and (max-width: 1046px){
    .blue-banner {
        margin: -68px auto;
    }
}
@media only screen and (max-width: 900px){
    .big-text {
        padding: 50px;
    }
    .midsection-text{
        padding: 50px;
    }
}
@media only screen and (max-width: 1030px){
    .midsection-menu-card{
        height: 210px;
    }
}
@media only screen and (max-width: 991px){
    .midsection-menu-card{
        height: 150px;
    }
    .feature{
        height: 160px;
    }
    .review{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .features .card-body {
        height: 105px;
    }
    p.text-body-secondary.form.mt-2.ms-4 {
        padding-left: 30px;
    }
}
@media only screen and (max-width: 767px){
    .col-md-6.feature-row {
        margin-top: 1.5rem;
    }
    p.text-body-secondary.form.mt-2.ms-4 {
        padding-left: 65px;
    }
    video.sample-video{
        width: 100%;
    }
    a.carousel-control-prev {
        position: relative;
        top: 50px;
        left: 73%;
    }
    a.carousel-control-next {
        position: relative;
        top: 26px;
        left: 85%;
    }
}
@media only screen and (max-width: 453px){
    .feature{
        height: 180px;
    }
}
@media only screen and (max-width: 364px){
    .col-6.features {
        width: 100%;
        margin-top: 1.5rem;
    }
    .col-md-6.feature-row {
        margin-top: 0;
    }
}